{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>BoxOffice | Profile</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href={% static "styles/sidebar.css" %}>
{% endblock %}

{% block content %}


<div id="wrapper">

    {% include 'sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="row m-3">
            <div style="margin-left:10px">
                    <h2>Dashboard</h2>                 
            </div>
        </div>
        <div class="row m-3">
            <div class="col-12 card round">
                    <h5 class="display-4" >Movies Showcasing at {{user.cinema.cinema_name}}</h5><hr>
                    
                    <div class="row p-4">
                        {% for movie in list %}
                        <div class="col-3 poster p-0 shadow card text-center">
                            <img src="/media/{{movie.movie__movie_poster}}" class="img-fluid" alt="Misisng Poster">
                            <h5 class="p-3">{{movie.movie__movie_name}}</h5>
                        </div>
                        {% endfor %}
                    </div>
                    
            </div>
        </div>
    </div>
    <!-- End of Content Wrapper -->

</div>



{% endblock %}


{% block JQuery %}
<script>
</script>
{% endblock %}