
<ul class="navbar-nav sidebar ">


    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fa fa-tachometer"></i>
            <span>Dashboard</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_shows' %}">
            <i class="fa fa-ticket"></i>
            <span>Add Shows</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'earnings' %}">
            <i class="fas fa-rupee-sign    "></i>
            <span>Earnings</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
            <i class="fa fa-sign-out"></i>
            <span>Logout</span></a>
    </li>

</ul>
