.carousel-inner {
    background: radial-gradient(#3a3a3a, black);
}
.carousel-inner img {
    height: 600px;
    margin: 0px auto;
}

.s1 {
    background-image: url(../images/batman.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s2 {
    background-image: url(../images/justice-league.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s3 {
    background-image: url(../images/spiderman.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s4 {
    background-image: url(../images/lights_out.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s5 {
    background-image: url(../images/uncharted.jpg);
    height: 600px;
    background-position: -10px -150px;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo {
    text-decoration: none;
    color: white;
}
.search-text {
    border-radius: 30px 0px 0px 30px;
}

.search {
    border-radius: 0px 30px 30px 0px;
    width: 45px;
    color: white;
    background: linear-gradient(45deg, #970FF2, #611DF2);
}

.nav-custom {
    background-color: #000000;
    padding: 1rem;
}

.btn-custom {
    background-color: #970FF2;
    color: white;
    margin-right: 10px;
}

.dropdown-custom {
    background-color: #970FF2;
    width: 200px;
    color: white;
    flex-wrap: nowrap;
}
.button-username {
    text-align: left;
}
.card-custom {
    border-radius: 25px !important;
    overflow: hidden;
}